# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg
*.egg-info/

# PyInstaller Specific
dist/
build/
*.spec

# Virtual environments
venv/
env/
.venv/

# Secrets
firebase_config.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
